<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603470131847-000gk9qcvd48hqbtme424n146vrt1s9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603470131847-000gk9qcvd48hqbtme424n146vrt1s9f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>603470131847-for9mpljck094ahg7vf5pna1blh9b9p6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3mouHE_vyGzWYK1eT9kRNc3IGjjCf5-w</string>
	<key>GCM_SENDER_ID</key>
	<string>603470131847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.livevipchat.app</string>
	<key>PROJECT_ID</key>
	<string>vipchat-348fb</string>
	<key>STORAGE_BUCKET</key>
	<string>vipchat-348fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603470131847:ios:e19cb5b6afaf44ce2e7e22</string>
	<key>DATABASE_URL</key>
	<string>https://vipchat-348fb.firebaseio.com</string>
</dict>
</plist>